.section__button {
    background-color: teal;
    color: white;
    border: none;
}

.section__button:hover {
    background-color: rgb(0, 156, 156);
    color: white;
    border: none;
}

.section__button:active {
    background-color: rgb(0, 185, 185);
    color: white;
    border: none;
}

.list__button {
    height: 30px;
    width: 30px;
    background-color: hsl(348, 83%, 47%);
    color: white;
    border: 1px;
}

.list__button--remove {
    background-color: red;
}

.list__button:hover {
    background-color: rgb(255, 118, 118);
}

.list__button:active {
    background-color: rgb(255, 182, 182);
}

.list__button--done {
    background-color: hsl(120, 100%, 20%);
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.list__button--done:active {
    background-color: hsl(120, 100%, 40%);
}