.list__item {
    list-style-type: none;
    word-break: break-word;
}

.list__item--done {
    text-decoration: line-through;
}

.list__taskName--done {
    text-decoration: line-through;
}

.list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}