.section {
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
}

.section__header {
    display: grid;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

.section__buttons {
    padding: 20px 70px 20px 20px;
    margin: 0 auto;
    display: block;
}