html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ddd;
    font-family: "Lato", sans-serif;
}